body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#calc {
    background-color: black;
    border: 7px black solid;
    height: 90vh;
    width: 65vh;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

#display {
    height: 17%;
    background-color: rgb(221, 221, 221);
    font-size: 600%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2px;
}

#buttons {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
}

.btn {
    width: 25%;
    font-size: x-large;
    border-radius: 10%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn:hover {
    filter: brightness(90%);
}

#zero {
    width: 50%;
}

.misc {
    background-color: rgb(101, 101, 245);
}

.operators {
    background-color: rgb(238, 180, 73);
}

.numbers {
    background-color: rgb(122, 250, 122);
}

.operators {
    opacity: 1;
}





