body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#calc {
    background-color: black;
    border: 5px black solid;
    height: 90vh;
    width: 65vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#display {
    height: 20%;
    background-color: lightpink;
    font-size: 400%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2px;
}

#buttons {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
}

.btn {
    width: 25%;
    font-size: x-large;
    border-radius: 10%;
}

#zero {
    width: 50%;
}






